# Jupyter checkpoints
.ipynb_checkpoints/
# Datos
data/
Titanic\nprojects/titanic/data/
projects/titanic/api/model.pkl
projects/titanic/model.pkl
projects/titanic/api/__pycache__/
projects/titanic/model_advanced.pkl
